<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/5/minty/bootstrap.min.css" rel="stylesheet">
    <link ref="stylesheet" href="./Boostrap/css/boostrap.min.css">
    <link ref="stylesheet" href="./fontawesome-free-6.2.1-web/css/all.css">
    <title>Inventory</title>
</head>
<body>
    {% include 'inventory/navigation.html'%}
    {% block content%}
    {% endblock content%}

  
    

   
</body>
</html>    
