{%extends 'inventory/base.html'%}

{% block content%}

<div>
    <div class="row">
        <div class="col-sm-11 col-md-4 mx-auto mt-5 px-3" >
            <h1 class="fw-light"> Track Your inventory</h1>
            <p class="fw-light">Track and Manage your Inventory and receive alerts on low inventory</p>
            <div>
                {% for group in user.groups.all %}
                {% if group.name == "Staff" %}
                <a href="{% url 'staff-apply' %}" class=" btn btn-outline-primary">Request for Equipments</a>
                {% else %}

                <a href="{% url 'dashboard' %}" class="btn-outline-primary">Go to Dashboard</a>
                   
                {% endif %}
            
                
            {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content%}